* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0d0d12;
  color: #fff;
}

header {
  width: 100%;
  padding: 20px 60px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
    width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: #fff;
  border-bottom: 2px solid #00e6b8;
  padding-bottom: 4px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 60px;
}

.hero-content {
  max-width: 50%;
}

.intro-tag {
  background: #00e6b8;
  color: #000;
  padding: 6px 14px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content h2 {
  font-weight: 400;
  color: #aaa;
  margin-bottom: 30px;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-info i {
  color: #00e6b8;
}

.hero-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #111;
  box-shadow: 0 0 0 10px #0d0d12, 0 0 20px #00e6b8;
}
